@font-face {
    font-family: "Alien-Encounters-Bold_0.ttf";
    src: url("../fonts/Alien-Encounters-Bold_0.ttf");
    src: local("Alien-Encounters-Bold_0"), url("../fonts/Alien-Encounters-Bold_0.ttf");
}

@font-face {
    font-family: "Alien-Encounters-Regular_0.ttf";
    src: url("../fonts/Alien-Encounters-Regular_0.ttf");
    src: local("Alien-Encounters-Regular_0"), url("../fonts/Alien-Encounters-Regular_0.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
	
	border: 0px solid black;
}

.clearfix::after {
  content: "";
	display: table;
	clear: both;
}

.container {
	width: 100%;
	max-width: 980px;

	margin: 0 auto;
	padding: 0 15px;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
}

/* header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    
  height: 100vh;
  padding: 15px;
  
  background: url("../img/headerbg.jpg") no-repeat;
  background-size: cover;
}

.main-atributes {
	float: left;
	
	width: 35%;
	
	text-align: center;
}

.main-logo {
  min-width: 300px;
  min-height: 165px;
  margin-bottom: 25px;
  
  opacity: 0.95;
}

.company-name {
	font-family: "Alien-Encounters-Regular_0.ttf", "Arial", sans-serif;
	font-size: 230%;
	line-height: 50px;
	font-weight: 400;
  color: #018dd2;
}

.company-specific {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;

	font-size: 100%;
	line-height: 21px;
	font-weight: 400;
  color: #919394;
}

.main-description {
	float: right;
	
	width: 65%;
	
	color: #5a5a5a;
}

.main-idea {
	margin-bottom: 30px;
	padding: 0 15px;
	
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
}

.main-idea-content {
	padding: 0 15px;
	
	line-height: 24px;
	font-weight: 600;
}

.about-company {
	padding-top: 80px;
	padding-bottom: 75px;
}

.section-title {
	margin-bottom: 50px;
	
	font-family: "Alien-Encounters-Regular_0.ttf", "Arial", sans-serif;
	font-size: 24px;
	font-weight: 500;
  color: #018dd2;
}

.about-company p {
	margin-bottom: 30px;
	
	line-height: 24px;
	font-weight: 500;
	color: #5a5a5a;
}

.advantages-title {
	display: block;
	
	margin-top: 90px;
	margin-bottom: 30px;
	
	font-size: 18px;
	font-weight: 600;
  color: #015ba1;
}

.advantages {
	list-style-position: inside
}

.advantages li {
	margin-bottom: 5px;
	
	color: #5a5a5a;
}

.facilities {
	padding-top: 80px;
	padding-bottom: 80px;
}

.main-facilities {
	list-style-type: none;
	text-align: center;
}

.main-facilities li {
	display: inline-block;
	width: 310px;
	
	line-height: 24px;
	font-weight: 500;
	color: #5a5a5a;
}

.main-facilities img {
	margin-bottom: 15px;
}

.facilitie {
	display: block;
}

@media screen and (max-width: 400px) {
  
}